<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:config/db.properties"/>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
    p:basePackage="com.vip.project.mapper"/>

    <bean class="org.mybatis.spring.SqlSessionFactoryBean"
    p:dataSource-ref="dataSource"
    p:configLocation="classpath:mybatis-config.xml"
    p:typeAliasesPackage="com.vip.project.domain"
    p:mapperLocations="classpath:mappers/**/*.xml"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init"
          destroy-method="close"
    p:url="${db.url}"
    p:username="${db.name}"
    p:password="${db.password}"
    p:initialSize="20"
    p:minIdle="5"
    p:maxActive="20"/>
</beans>